.headerContainerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #4D194D;
    box-shadow: 1px 1px 10px -3px;
}

.logo{
    height: 200px;
    width: 200px;
}

.headerRightDiv{
    display: flex;
    gap: 1rem;
}

.headerRightDiv p{
    font-size: 1.3em;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}